# Based on https://raw.githubusercontent.com/github/gitignore/main/Node.gitignore

logs
_.log
npm-debug.log_
.cache

# Diagnostic reports (https://nodejs.org/api/report.html)

report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# Runtime data

pids
_.pid
_.seed
*.pid.lock

# Dependency directories

node_modules/

# TypeScript cache

*.tsbuildinfo

# Optional npm cache directory

.npm

# dotenv environment variable files

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# IntelliJ based IDEs

.idea

# Code based IDEs

.vscode

# Finder (MacOS) folder config

.DS_Store

access.log
